.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
   
   
}
.a-left{
    display: flex;
    justify-content: space-around;
     flex-direction: column;
     align-items: center;
     width: 50%;
     margin-left: 2em;
    padding: 1em 1em 1em 1em;
    animation: appear 2s linear ;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
}
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(128, 62, 62, 0.1);
    text-align: center;
    animation: appear 2s linear ;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.card:hover{
    box-shadow: 0 8px 16px rgba(7, 5, 5, 0.2);
    transform: translateY(-5px); 
    
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #666;
}
.a-left h1{
    font-size: 3em;
    color: #000;
}
.a-left p{
    font-size: 1.5em;
    color: #000;
}
.a-left button{
    background-color: #599999;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
}
.a-left button:hover{
    background-color: black;
    transform: translateY(-5px);
    
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }to{
        opacity: 1;
       scale: 1;
    }
}

@media(max-width: 600px){
    .container{
        flex-direction: column;
        margin-top: 100px;
       
    }
    .a-left{
        width: 90%;
        
        margin: 2em;
        animation: appear 2s linear ;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    
    .a-right {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin: 10px;
        width: 30%;
        box-shadow: 0 4px 8px rgba(128, 62, 62, 0.1);
        text-align: center;
    }
    
    .card h3 {
        margin-bottom: 10px;
    }
    
    .card p {
        color: #666;
    }
}